@media screen and (min-width: 0px) {


    .container {
        width: 98vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
     
       
      }
      
      .imgProduct {
        margin: 2rem;
        width: 45%;
      
      }
      
      .containerInfo {
        margin: 1rem;
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
       
      }
      
      .containterImg {
        border: 1px solid green;
        width: 80%;
        height: auto;
        padding: 0.2rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
}

@media screen and (min-width: 768px) {
    .containterImg {

        width: 60%;
      
    }

    .container {

      height: auto;
      align-items: flex-start;
    }

    
}