@media screen and (min-width: 0px) {
  .modal {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    min-height: 300px;
    height: auto;
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 4px;
    display: flex;
    
  }
}

@media screen and (min-width: 768px) {

    .modal {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        flex-wrap: wrap;
        min-height: 300px;
        height: auto;
        background-color: whitesmoke;
        border: 2px solid black;
        padding: 4px;
      }
    
}
