.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 width: auto;
 overflow: hidden;
}

.body{

  width: 100vw;
}

